/__pycache__/*
/src/__pycache__/*
/src/*.pyc
/src/file_handler/__pycache__/*
/src/data_handler/__pycache__/*
/src/models/__pycache__/*
/src/minimizers/__pycache__/*
/src/plotter/__pycache__/*
/test/__pycache__/*
/test/*.pyc
/test/output*
/*.ipynb
/.ipynb*
/.cache
/*.pyc
/model_*
/*.root

